@font-face {
	font-family: 'HansHand';
	src: url('hanshand-webfont.eot');
	src: url('hanshand-webfont.eot?#iefix') format('embedded-opentype'),
	url('hanshand-webfont.woff') format('woff'),
	url('hanshand-webfont.ttf') format('truetype'),
	url('hanshand-webfont.svg#hans_handhans_hand') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Scriptina';
	src: url('Scriptina_Pro-webfont.eot');
	src: url('Scriptina_Pro-webfont.eot?#iefix') format('embedded-opentype'),
	url('Scriptina_Pro-webfont.woff') format('woff'),
	url('Scriptina_Pro-webfont.ttf') format('truetype'),
	url('Scriptina_Pro-webfont.svg#scriptina_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Cabrito';
	src: url('CabritoNormRegularItalic-webfont.eot');
	src: url('CabritoNormRegularItalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('CabritoNormRegularItalic-webfont.woff') format('woff'),
	url('CabritoNormRegularItalic-webfont.ttf') format('truetype'),
	url('CabritoNormRegularItalic-webfont.svg#cabrito_norm_regular_normRgIt') format('svg');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'Calluna';
	src: url('Calluna-Regular-webfont.eot');
	src: url('Calluna-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('Calluna-Regular-webfont.woff') format('woff'),
	url('Calluna-Regular-webfont.ttf') format('truetype'),
	url('Calluna-Regular-webfont.svg#CallunaRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Capita';
	src: url('CapitaLig-webfont.eot');
	src: url('CapitaLig-webfont.eot?#iefix') format('embedded-opentype'),
	url('CapitaLig-webfont.woff') format('woff'),
	url('CapitaLig-webfont.ttf') format('truetype'),
	url('CapitaLig-webfont.svg#capitalight') format('svg');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'Flexo';
	src: url('Flexo-CapsDEMO-webfont.eot');
	src: url('Flexo-CapsDEMO-webfont.eot?#iefix') format('embedded-opentype'),
	url('Flexo-CapsDEMO-webfont.woff') format('woff'),
	url('Flexo-CapsDEMO-webfont.ttf') format('truetype'),
	url('Flexo-CapsDEMO-webfont.svg#FlexoCapsDEMORegular') format('svg');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'Foro';
	src: url('ForoLig-webfont.eot');
	src: url('ForoLig-webfont.eot?#iefix') format('embedded-opentype'),
	url('ForoLig-webfont.woff') format('woff'),
	url('ForoLig-webfont.ttf') format('truetype'),
	url('ForoLig-webfont.svg#forolight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Kuro';
	src: url('Kuro-Regular-webfont.eot');
	src: url('Kuro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('Kuro-Regular-webfont.woff') format('woff'),
	url('Kuro-Regular-webfont.ttf') format('truetype'),
	url('Kuro-Regular-webfont.svg#kuroregular') format('svg');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'Moderna';
	src: url('ModernaUnicaseCondensed-Medium-webfont.eot');
	src: url('ModernaUnicaseCondensed-Medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('ModernaUnicaseCondensed-Medium-webfont.woff') format('woff'),
	url('ModernaUnicaseCondensed-Medium-webfont.ttf') format('truetype'),
	url('ModernaUnicaseCondensed-Medium-webfont.svg#modernaunicase_condensedMd') format('svg');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'Museo';
	src: url('MuseoSans_500-webfont.eot');
	src: url('MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
	url('MuseoSans_500-webfont.woff') format('woff'),
	url('MuseoSans_500-webfont.ttf') format('truetype'),
	url('MuseoSans_500-webfont.svg#museo_sans500') format('svg');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'Thirsty';
	src: url('ThirstyScriptBoldShadow-webfont.eot');
	src: url('ThirstyScriptBoldShadow-webfont.eot?#iefix') format('embedded-opentype'),
	url('ThirstyScriptBoldShadow-webfont.woff') format('woff'),
	url('ThirstyScriptBoldShadow-webfont.ttf') format('truetype'),
	url('ThirstyScriptBoldShadow-webfont.svg#thirsty_script_regular_shdBd') format('svg');
	font-weight: normal;
	font-style: normal;

}

