
@import url(../webfonts/webfonts.css);

#postcard {
	border: 1px #999999 solid;
	background-color: #CCCCCC;
	position: relative;
	background-repeat: no-repeat;
}

.textdiv {
	width: 204px;
	height: 200px;

	min-width: 20px;
	min-height: 40px;

	padding: 10px;
	background-color: transparent;

	border: 1px #0000FF dotted;

	box-sizing: content-box;
	position: absolute;

}

.imgdiv {
	position: absolute;
	padding: 0;
	margin: 0;
	z-index: 100;
}

.imgdiv img {
	width: 100%;
	height: 100%;

}

.submit {
	margin-top: 40px;
}

.options {
    margin-bottom: 10px;
}

.option {
    height: 50px;
    padding: 3px;
    border: 1px solid #666666;
}

.cliparts {
    margin-bottom: 10px;
}

.clipart {
    height: 50px;
    padding: 3px;
    border: 1px solid #666666;
}

.dragger {
	position: absolute;
	top: -13px;
	left: -13px;
	background-color: black;
	color: #ffffff;
	width: 24px;
	height: 24px;
	padding-top: 5px;
	padding-left: 2.5px;
	z-index: 91;
	border: 1px solid #ffffff;

	visibility: hidden;
    cursor: move;
	
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.resizer {
	position: absolute;
	bottom: -9px;
	right: -9px;
	background-color: white;
	width: 22px;
	height: 22px;
	border:1px solid #000000;
	padding-top: 4px;
	padding-left: 2.5px;
	z-index: 89;

	visibility: hidden;
	
}

.remover {
	position: absolute;
	top: -9px;
	right: -9px;
	background-color: white;
	width: 19px;
	height: 19px;
	padding-top: 3px;
	padding-left: 3px;
	cursor: pointer;

	visibility: hidden;
}

#postcard div .ui-resizable-handle.ui-resizable-se {

	position: absolute;
	bottom: -9px;
	right: -8px;
	width: 22px;
	height: 22px;
}

#postcard div i {
	visibility: visible;
}

.toolbar {
	position: absolute;
	top: -23px;
	width: 206px;
	display: none;
}

.redactor_box {
	height: 100%;
	background-color: transparent;

	cursor: initial;
}

.redactor_editor {
	padding: 5px;
}

.redactor_textarea {
	background-color: transparent;
	height: 100% !important;
	overflow: visible;
}

.redactor_textarea:focus {
	background-color: #FAFAFA;
}

.redactor_textarea * {
	line-height: 1em;
}

#spinner {

	margin: 0 auto;
	display: block;
}

#submit {
	margin-top: 30px;
}

#carddesigner .tab-content {
    height: 85px;
    padding:5px;
}

#carddesigner .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #13823D;
    color: white;
}

#carddesigner .nav-tabs > li > a {
    background-color: #ccc;
    border: 0;
    border-radius: 0;
    margin:0;
}

#carddesigner .nav-tabs > li {
    width:25%;
}