@import url(../webfonts/webfonts.css);

#postcard {
	border: 1px #999999 solid;
	background-color: #CCCCCC;
	position: relative;
	background-repeat: no-repeat;
}

.textDiv {
	width: 160px;
	height: 160px;

	min-width: 20px;
	min-height: 40px;

	padding: 5px;
	background-color: transparent;
    border: 1px dotted transparent;


    z-index: 2;

	box-sizing: content-box;
	position: absolute;
}


.imgDiv {
	position: absolute;
	margin: 0;
    box-sizing: content-box;
    padding: 5px;
    border: 1px dotted transparent;
	z-index: 1;
}

#postcard div:hover,
#postcard div:focus,
{
    border: 1px dotted #eee;
}


#postcard i,
#postcard i
{
    visibility: hidden;
}

#postcard .ui-draggable-dragging i
{
    visibility: visible;
}


.imgDiv img {
	width: 100%;
	height: 100%;
}

.submit {
	margin-top: 40px;
}

.options {
    margin-bottom: 10px;
}

.option {
    height: 50px;
    padding: 3px;
    border: 1px solid #666666;
    z-index: 3;
}

.cliparts {
    margin-bottom: 10px;
}

.clipart {
    height: 50px;
    padding: 3px;
    border: 1px solid #666666;
    z-index: 3;
}

/* Frame Interface Handles */
.dragger, .remover, .resizer{
    position: absolute;
    background-color: white;

    width: 27px;
    height: 27px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    vertical-align: 0;
    padding-top: 7px;

    /*
    z-index muss auf 89 bleiben, da es unter den jQueryUI Handlern liegen muss, die einen z-index von 90 haben.
    */
    z-index: 89;
    visibility: hidden;
}

.dragger {
	top: -16px;
	left: -16px;
    /* padding-top: 2px;*/

    cursor: move;
}

.remover {
    top: -16px;
    right: -16px;
    /* padding-top: 3px; */

    cursor: pointer;
}

/* rotated with fa-rotate90 so top is right and align center is vertical align */
.resizer {
	bottom: -16px;
	right: -16px;
	/* padding-top: 4px; */

    cursor: pointer;
}

.redactor_editor {
    border: 1px dotted transparent;
}
.redactor_editor:hover .redactor_editor:focus {
    border: 1px dotted #eee;

}

#postcard div .ui-resizable-handle.ui-resizable-se {

	position: absolute;
	bottom: -9px;
	right: -8px;
	width: 22px;
	height: 22px;
}

#postcard div:hover i {
	visibility: visible;
}

.toolbar {
	position: absolute;
	top: -23px;
	width: 206px;
	display: none;
}

.redactor_box {
	height: 100%;
	background-color: transparent;

	cursor: initial;
}

.redactor_editor {
	padding: 5px;
}

.redactor_textarea {
	background-color: transparent;
	height: 100% !important;
	overflow: visible;
}

.redactor_textarea:focus {
	background-color: #FAFAFA;
}

.redactor_textarea * {
	line-height: 1em;
}

#spinner {

	margin: 0 auto;
	display: block;
}

#submit {
	margin-top: 30px;
}

#carddesigner .tab-content {
    height: 85px;
    padding:5px;
}

#carddesigner .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #13823D;
    color: white;
}

#carddesigner .nav-tabs > li > a {
    background-color: #ccc;
    border: 0;
    border-radius: 0;
    margin:0;
}

#carddesigner .nav-tabs > li {
    width:25%;
}