/* -- Header -- */
.contact-header > img {
	margin-right: 30px;
}
.contact-header .box-content {
	padding: 18px 40px;
}
.contact-header a {
	margin-left: 30px;
}

/* -- Content -- */
.contact-body {
	background-color: #F7F7F7;
	overflow: hidden;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.phone-column {
	float: left;
	width: 508px;
	border-bottom-left-radius: 5px;
	padding-bottom: 250px;
	margin-bottom: -250px;
}
.email-column {
	float: left;
	width: 431px;
	margin-left: -1px;
	
	background-color: white;
	border-bottom-right-radius: 5px;
	padding-bottom: 250px;
	margin-bottom: -250px;
}

.phone-column > div:first-child {
	background-color: white;
	background: white url("images/contact-person.jpg") 276px bottom no-repeat;
	min-height: 400px;
}

.contact .section-header {
	min-height: 60px;
	margin-bottom: 20px;
}
.contact .section-header > img {
	margin-top: 8px;
}
.contact .section-header h2 {
	margin-bottom: 0;
	font-size: 1.2em;
}

.phone-column .phonenumber {
	font-size: 48px;
	font-weight: 300;
	color: black;
	margin-bottom: 20px;
	line-height: 40px;
}
.phone-column .phone-body {
	padding-right: 215px;
}

.email-column .control-label {
	color: black;
	font-weight: bold;
	width: 125px;
}
.email-column .controls {
	margin-left: 145px;
	width: 205px;
	overflow: hidden;
}
.email-column .controls input {
	width: 191px;
}
.email-column textarea {
	width: 337px;
}
.email-column .form-actions {
	border: 0;
	background: none;
	padding: 0;
	text-align: right;
}

.contact i[class^="icon-"],
.contact i[class*=" icon-"] {
	background: url("images/sprites/contact-sprite.png") 0 0 no-repeat;
}

.box-contact-details i[class*="icon-"] {
	display: inline-block;
	float: left;
	width: 18px; height: 22px;
	margin-right: 12px;
}

.box-contact-details i.icon-flower {
	width: 15px; height: 15px;
	margin-top: 2px;
	margin-left: 2px;
}
.box-contact-details i.icon-plus {
	width: 15px; height: 15px;
	margin-top: 2px;
	margin-left: 2px;
	background-position: -30px 0;
}

.box-contact-details i.icon-address {
	margin-top: 12px;
	background-position: 0 -16px;
}
.box-contact-details i.icon-phone {
	background-position: -18px -16px;
}
.box-contact-details i.icon-email {
	background-position: -36px -16px;
}