body {
	background-color: #f1f1f1;
	font-family: 'Source Sans Pro', sans-serif;
}

h1.header, h2.header, h3.header, h4.header, span.header {
	font-size: 30px;
	font-weight: 300;
	margin: 0;
	padding-top: 5px;
	line-height: 35px;
}
h1.bold-header, h2.bold-header {
	font-size: 24px;
	font-weight: bold;
}

#page-header {
	background: url("images/networknav-bg.png") top center no-repeat;
	min-height: 51px;
	color: #999999;
}

#topbar {
	min-height: 35px;
	font-size: 12px;
	color: #999999;
	padding-top: 15px;
}

#page-header .infobar {
	padding: 15px 0;
}

.highlighted {
	color: #00833B;
}
.muted {
	color: #7D7D7D;
}
a.underlined {
	text-decoration: underline;
}

/* -- Rating container -- */
#topbar .rating .rating-score {
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
}
#topbar .rating .rating-stars {
	display: inline-block;
	vertical-align: text-bottom;
	padding: 0 5px;
	height: 16px;
}
.stars-outer {
	display: inline-block;
	background: url("images/stars-14-magenta.png") top left repeat-x;
	width: 70px;
	height: 14px;
	text-align: left;
}
.stars-inner {
	display: inline-block;
	background: url("images/stars-14-magenta.png") 0 -14px repeat-x;
	height: 14px;
}

/* -- Search -- */
.searchbox {
	font-size: 12px;
	margin-top: -5px;
}
.searchbox input {
	width: 165px;
	margin: 0;
	padding: 4px 25px 4px 8px;
	background: #fff url("../shared/images/icons/icon-search-12.png") 175px 7px no-repeat;
	border: 1px solid #D9D9D9;
	font-size: 12px;
}
.searchbox .tt-dropdown-menu {
	text-align: left;
	width: 198px;
}

/* -- Social media links container -- */
#topbar .social-links ul li:last-child {
	margin-right: 10px;
}
#topbar .social-links img {
	margin-left: 5px;
}

/* -- USPs -- */
#page-header .usps {
	font-size: 12px;
}
#page-header .usps img {
	margin-top: 10px;
}
#page-header .usps strong {
	font-size: 14px;
	color: black;
}

#page-header .btn {
	font-size: 12px;
	padding: 7px 12px;
}

/* -- Phone -- */
#page-header .btn-service > span {
	background: url("../shared/images/icons/icon-service-12.png") 0 2px no-repeat;
	padding-left: 25px;
}
#page-header .btn-service span.phonenumber {
	font-size: 14px;
	color: black;
	font-weight: bold;
	margin-left: 8px;
}

/* -- Basket -- */
#page-header .btn-basket {
	margin-left: 20px;
}
#page-header .btn-basket > span {
	background: url("../shared/images/icons/icon-basket-small.png") 0 2px no-repeat;
	padding-left: 25px;
}

#page-header .nav-container {
	background: none;
	border-top: 0;
	margin-bottom: 15px;
}

/* -- Network navigation -- */
.network-nav {
	min-height: 66px;
	max-height: 66px;
	clear: both;
	overflow: hidden;
	background: url("images/networkbar-bg.png") 0 11px repeat-x;
}
.network-nav ul {
	border-top: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-top-right-radius: 5px;
	list-style: none;
	margin: 0; padding: 0;
	margin-top: 10px;
	display: block;
	height: 55px;
}
.network-nav ul li {
	display: block;
	float: left;
}
.network-nav li.home {
	display: inline-block;
	padding-right: 66px;
	background: url("images/networkbar-home-bg.png") top right no-repeat;
	height: 66px;
	float: left;
	border: 0;
	border-left: 1px solid #e7e7e7;
	margin-top: -10px;
}
.network-nav li.home a span {
	display: inline-block;
	border-top-left-radius: 5px;
	border-top-right-radius: 0;
	padding: 15px 0 6px 15px;
	background: white;
	height: 45px;
}
.network-nav li.related-site a {
	display: block;
	color: #999;
	font-size: 14px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 18px 25px;
	text-align: center;
	border: 1px solid #E5E5E5;
	border-bottom: 0;
	border-left: 0;
	height: 21px;
	margin-top: -1px;
}
.network-nav li.first-site a {
	padding-left: 0;
	border-top-left-radius: 0;
	border-left: 0;
}

/* -- Site navigation -- */
.site-nav {
	background: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 70px;
	clear: both;
	border-bottom: 1px solid #cdcdcd;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
}
.site-nav ul.menu {
	list-style: none;
	margin: 5px 0; padding: 10px 25px;
	float: left;
}
.site-nav ul.menu li.link {
	float: left;
	padding: 10px 15px;
	border: 1px solid transparent;
}
.site-nav ul.menu li.link-with-callout {
	position: relative;
}
.site-nav ul.menu li.link-with-callout div.callout {
	display: none;
	position: absolute;
	top: 40px;
	left: -1px;
	z-index: 100;
	background-color: #F9F9F9;
	border: 1px solid #D9D9D9;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	
	max-height: 400px;
	overflow-y: auto;
}
.site-nav ul.menu li.link-with-callout div.callout-connector {
	display: none;
	position: absolute;
	top: 30px;
	left: -1px;
	z-index: 101;
	background-color: #F9F9F9;
	overflow: hidden;
	height: 15px;
	width: 100%;
	border-left: 1px solid #D9D9D9;
}
.site-nav .callout-col {
	float: left;
	display: inline-block;
	width: 175px;
}
.site-nav .callout-image {
	float: right;
	display: inline-block;
	width: 260px;
}
.site-nav .callout-2cols-with-image {
	width: 610px;
}
.site-nav ul.menu li.link-with-callout:hover {
	background-color: #F9F9F9;
	border: 1px solid #D9D9D9;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 101;
}
.site-nav ul.menu li.link-with-callout:hover div.callout {
	display: block;
}
.site-nav ul.menu li.link-with-callout:hover div.callout-connector {
	display: block;
}
.site-nav a, .site-nav a:hover, .site-nav a:focus, .site-nav a:active, .site-nav a:visited {
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	color: #171717;
}
.site-nav ul.submenu {
	list-style: none;
	display: inline-block;
	width: 150px;
	margin: 0;
	padding: 25px 25px;
}
.site-nav ul.submenu + ul.submenu {
	padding-left: 0;
}
.site-nav ul.submenu li.submenu-header {
	font-size: 16px;
	font-weight: bold;
	color: black;
	padding-bottom: 3px;
}
.site-nav ul.submenu li a {
	display: inline-block;
	padding-top: 2px;
	text-transform: none;
	color: #7B7B7B;
	font-weight: normal;
}
.site-nav ul.menu li.sale {
	padding: 3px 0;
}
.site-nav ul li.sale a {
	display: inline-block;
	padding: 7px 15px;
	color: white;
	border-radius: 20px;
	background: #00833B;
}

/* -- Footer -- */
#page-footer {
	font-size: 13px;
	color: #7B7B7B;
}
#page-footer a {
	color: inherit;
}

/* -- USPs in footer -- */
#page-footer .usps {
	font-size: 14px;
	color: #656565;
}
#page-footer .usps h3 {
	margin-top: 28px;
}
#page-footer .grey-box + .grey-box {
	padding-top: 20px;
	border-top: 1px solid #D9D9D9;
}

.footer-nav {
	display: table;
}

.footer-inline-block {
	float: left;
	padding-right: 5px;
	width: 170px;
}
.footer-nav ul {
	list-style: none;
	margin: 0; padding: 0;
}
.footer-nav h3 {
	font-size: 14px;
	line-height: 20px;
	color: #171717;
	font-weight: bold;
	text-transform: uppercase;
}
.footer-image {
	position: relative;
	width: 220px;
	padding-right: 20px;
	
	margin-top: -30px;
	margin-bottom: -20px;
	background: url("images/footer-man.png") 0 0 no-repeat;
	height: 253px;
}

/* Hero */
.hero img {
	border-radius: 5px;
}
.hero a {
	display: inline-block;
}
.hero .box {
	margin-bottom: 0;
}
.hero .box + .box {
	margin-top: 10px;
}

/* Delivery info */
.deliveryinfo-box {
	font-size: 17px;
	font-weight: bold;
	padding: 15px 0;
	background-color: #01813B;
	color: white;
	border-radius: 5px;
}
.deliveryinfo-box img {
	margin-right: 15px;
}

/* Product Grid item layout */
.product {
	position: relative;
	padding: 20px 6px 40px;
	text-align: center;
}
.product .price-container {
	position: absolute;
	top: 170px;
	left: 170px;
	width: 100px;
	height: 100px;
	background: url("images/price-bg.png") top left no-repeat;
	color: white;
	padding-top: 18px;
}
.product .price-from {
	display: block;
	font-size: 16px;
}
.product .price {
	display: block;
	font-size: 32px;
	margin-top: 10px;
}
.product .price .cents {
	display: inline-block;
	font-size: 14px;
	margin-top: -10px;
	vertical-align: top;
}
.product .product-rating {
	padding-top: 5px;
	text-decoration: none !important;
	display: block;
	min-height: 20px;
}
.product .product-rating .rating-panel {
	display: inline-block;
}
.product .product-rating .rating-stars {
	display: inline-block;
	padding: 0 5px;
	vertical-align: text-bottom;
	height: 18px;
}
.product .product-rating .rating-count {
	display: none;
}
.product .product-name {
	display: block;
	padding-top: 5px;
	font-size: 18px;
	font-weight: bold;
	min-height: 40px;
	max-height: 40px;
	color: black;
}
.product a.btn {
	margin-top: 10px;
}
.product a.btn span {
	display: block;
	background: url("../shared/images/icons/icon-basket-white-small.png") 0px 2px no-repeat;
	padding-left: 30px;
}

/* -- Box -- */
.box {
	background-color: white;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	margin-bottom: 15px;
}
.inline-box {
	margin-bottom: 0;
	display: inline-block;
}
.box-header, .box-content {
	padding: 25px 40px;
}
.box-content-breaker {
	margin: 0 -40px -25px;
}
.box-content-roomy {
	padding: 40px 50px;
}
.row .box-content, .row-fluid .box-content {
	padding: 30px 40px;
}
.box-content .padding-bottom, .box-content-roomy .padding-bottom {
	padding-bottom: 25px;
}
.box-content .margin-bottom, .box-content-roomy .margin-bottom {
	margin-bottom: 25px;
}
.box-addon {
	background-color: #F7F7F7;
	box-shadow: 0px 1px 1px 0px rgba(217, 217, 217, 1.0);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #7B7B7B;
	border-top: 1px solid #D9D9D9;
	overflow: hidden;
}
.box .border-bottom {
	border-bottom: 1px solid #D9D9D9;
}
.box .border-top {
	border-top: 1px solid #D9D9D9;
}
.box .border-left {
	border-left: 1px solid #D9D9D9;
}
.box .border-right {
	border-right: 1px solid #D9D9D9;
}
.grey-box {
	margin-bottom: 20px;
}

/* -- Buttons -- */
.btn {
	background-image: -moz-linear-gradient(top, #ffffff, #efefef);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#efefef));
	background-image: -webkit-linear-gradient(top, #ffffff, #efefef);
	background-image: -o-linear-gradient(top, #ffffff, #efefef);
	background-image: linear-gradient(to bottom, #ffffff, #efefef);
	background-repeat: repeat-x;	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffefefef', GradientType=0);
	
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #999999;
}
.btn-rb, .btn-rb:visited {
	background: #EB008B;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border: 1px solid #B10071;
	color: white;
	text-transform: uppercase;
	font-size: 15px;
	padding: 15px;
}
.btn-rb-small {
	font-size: 13px;
	padding: 12px 15px;
}
.btn-rb:hover {
	background: #FF23A6;
	color: white;
}
.btn-rb:focus, .btn-rb:active, .btn-rb[disabled] {
	background: #B10071;
	color: white;
}
.btn-rb > img {
	margin-right: 5px;
}


/* -- Grids for listings --

	See http://kraftner.com/en/blog/responsive-dividers-sass-mixins/)
	and http://blog.keithclark.co.uk/targeting-first-and-last-rows-in-css-grid-layouts/
	
	Switched from nth-child and nth-last-child to nth-of-type and nth-last-of-type due to a bug in Chrome 31.0.1650.57 m
*/
.box ul.grid3, .box ul.grid4 {
	list-style: none;
	margin: 0; padding: 0;
	overflow: hidden;
}
.box ul.grid3 li {
	float: left;
	border-bottom: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	width: 312px;
	max-width: 312px;
}
.box ul.grid3 li:nth-of-type(3n+1):nth-last-of-type(-n+3), .box ul.grid3 li:nth-of-type(3n+1):nth-last-of-type(-n+3) ~ li {
    border-bottom: 0;
} 
.box ul.grid3 li:nth-of-type(3n) {
	border-right: 0;
	width: 314px;
	max-width: 314px;
}
.box ul.grid3 li:nth-of-type(3n+1) {
	clear: left;
}

.box ul.grid4 li {
	float: left;
	border-bottom: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	width: 234px;
	max-width: 234px;
}
.box ul.grid4 li:nth-of-type(4n+1):nth-last-of-type(-n+4), .box ul.grid4 li:nth-of-type(4n+1):nth-last-of-type(-n+4) ~ li {
    border-bottom: 0;
}
.box ul.grid4 li:nth-of-type(4n) {
	border-right: 0;
	width: 235px;
	max-width: 235px;
}
.box ul.grid4 li:nth-of-type(4n+1) {
	clear: left;
}

ul.grid2 {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
ul.grid2 li {
	margin: 0;
	padding: 0;
	width: 50%;
	float: left;
}

/** Bootstrap overrides **/
a, a:hover, a:active, a:visited {
	color: inherit;
}
h1, h2, h3, h4 {
	font-size: 1.1em;
	color: #171717;
	line-height: 20px;
	margin-top: 0;
}
ul.breadcrumb {
	margin: -5px 0 10px 0;
	background: none;
	padding: 0 15px;
	font-size: 12px;
	color: #999999
}
ul.breadcrumb a {
	color: inherit;
}
ul.inline li {
	padding-left: 10px;
	padding-right: 0;
}
ul.inline li:first-child {
	padding-left: 0;
}
div.pagination ul {
	box-shadow: none;
	border: 0;
}
div.pagination li a {
	border: 0;
	font-size: 16px;
	color: #999;
	width: 34px;
	height: 20px;
	text-align: center;
	padding: 6px 0 8px;
	margin-left: 10px;
	
	background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
	background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
	background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
	background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
	background-repeat: repeat-x;	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
	
	border: 1px solid #CBCBCB;
	border-radius: 17px !important;
}
div.pagination li a:hover {
	background-image: -moz-linear-gradient(top, #ffffff, #f7f7f7);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f7f7f7));
	background-image: -webkit-linear-gradient(top, #ffffff, #f7f7f7);
	background-image: -o-linear-gradient(top, #ffffff, #f7f7f7);
	background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
	background-repeat: repeat-x;	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff7f7f7', GradientType=0);
}
div.pagination li a:active {
	background-image: -moz-linear-gradient(top, #f0f0f0, #f8f8f8);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#f8f8f8));
	background-image: -webkit-linear-gradient(top, #f0f0f0, #f8f8f8);
	background-image: -o-linear-gradient(top, #f0f0f0, #f8f8f8);
	background-image: linear-gradient(to bottom, #f0f0f0, #f8f8f8);
	background-repeat: repeat-x;	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0f0f0', endColorstr='#fff8f8f8', GradientType=0);
}
div.pagination li.active a, div.pagination li.active a:hover {
	background: white;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	filter: none;
}
div.pagination li.disabled a, div.pagination li.disabled a:hover {
	background: #f5f5f5;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	filter: none;
}
div.pagination li:first-child a {
	margin-left: 0;
	margin-right: 20px;
	font-size: 30px;
	line-height: 16px;
}
div.pagination li:last-child a {
	margin-left: 30px;
	font-size: 30px;
	line-height: 16px;
}

/* -- Typeahead -- */
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
  color: #171717;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

/* -- Icons -- */
i.rb-icon {
	display: inline-block;
}
i.rb-icon-25-pin-black {
	width: 25px; height: 25px;
	background: url("../shared/images/sprites/icons-25-black.png") 0 0 no-repeat;
}
i.rb-icon-25-like-black {
	width: 25px; height: 25px;
	background: url("../shared/images/sprites/icons-25-black.png") -25px 0 no-repeat;
}

@media print {
	#page-header, #page-footer, ul.breadcrumb {
		display: none;
	}
	
	.container {
		width: auto;
		margin: 0;
	}
}